<?xml version="1.0"?>
<launch>
  <arg name="use_phidgets_imu" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find kurt3d)/urdf/kurt3d.urdf.xacro'" />

  <node pkg="robot_state_publisher" type="state_publisher" name="state_publisher" />



  <include file="$(find kurt_base)/launch/kurt_indoor.launch" />

  <include file="$(find kurt_bringup)/launch/sick_lms200.launch">
    <param name="resolution" value="0.5" />
  </include>

  <include file="$(find kurt_bringup)/launch/ekf.launch">
    <arg name="use_phidgets_imu" value="$(arg use_phidgets_imu)" />
  </include>

 <node pkg="kurt3d" type="laserscanner_node" name="laserscanner_node" />
 <node pkg="kurt3d" type="servo_node" name="servo_node" />

  <include file="$(find kurt3d)/launch/tilt3d_filter_chain.launch" />
</launch>
